.job-tag {    
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #000000;
    
    writing-mode: vertical-rl;
    text-orientation: mixed;

    margin-right: 5em;
    
    transition: all 1s ease-out;
}

.name-tag{
    font-weight: bolder;
    font-size: 2vh;
    transition: all 2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.job-tag:hover,
.name-tag:hover,
.profile:hover{
    text-shadow: 0 0 10px dimgrey !important;
    transform: translateY(20px);
    opacity: 0;
}

.image-tag{
    transition-delay: 1s;
    transition-duration: 4s;
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition-property: opacity;
}
.image-tag:hover{
    opacity: 0;
}
body{
    padding: 20px;
    margin-top: 20px;
}
.profile{
    padding: 2em;
    margin: 2em;
    transition: all 4s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.person:nth-child(3n+2) {
    transform: translateY(2em);
}
